**/.DS_Store
__pycache__/
*.pyc
/*.egg-info
.idea/
*.swp
*.wsn
*.swo
.scannerwork/
.vscode/
htmlcov/
sonar-project.properties
.coverage*
docs/rst
docs/sphinx
dist/
.coverage*
docs/rst
docs/sphinx
models/checkpoints
dist/
Notizen
*eval_data*.pkl
not_done
testresults/*
Kartenverteilung.png
